PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/odoo_hack
JWT_SECRET=change_me_super_secret
JWT_EXPIRES_IN=7d
CLIENT_ORIGIN=http://localhost:5173

# Optional: if these are set, uploads switch to Cloudinary (see upload.middleware.js note)
# CLOUDINARY_CLOUD_NAME=
# CLOUDINARY_API_KEY=
# CLOUDINARY_API_SECRET=
